{% extends "base.html" %}
{% block title %}Reset password{% endblock %}
{% block content %}
<br>
<div class="container col-xl-10 px-4 py-3">
    <div class="col align-items-center g-lg-5" id="login">
        <div class="col-md-8 mx-auto col-lg-5">
            <form method="post" class="p-4 p-md-5 shadow border rounded-3 bg-body-tertiary">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <p class="fs-1 text-center mb-0">Reset Password</p>
                <p class="text-center">Please Provide Valid Email Address !!</p>
                <div class="form-floating mb-3">
                    {{ form.email.errors }}
                    {{ form.email }}
                    <label for="{{ form.email.id_for_label }}">Email</label>
                </div>
                <button class="btn btn-dark col-md-3" type="submit">Reset</button>
                <hr class="my-4">
                <div class="text-center">
                    <span class="text-body-secondary">Go <a href="{{ request.META.HTTP_REFERER }}">Back</a></span>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
