{% extends "base.html" %}
{% block title %}Reset password{% endblock %}
{% block content %}
{% if validlink %}
<div class="container col-xl-10 px-4 py-3">
    <div class="col align-items-center g-lg-5 py-5" id="login">
        <div class="col-md-8 mx-auto col-lg-5">
            <form method="post" class="p-4 p-md-5 shadow border rounded-3 bg-body-tertiary">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <p class="fs-1 text-center">Reset Password</p>
                <p class="text-center">Please Enter Your Password Twice</p>
                <div class="form-floating mb-3">
                    {{ form.new_password1.errors }}
                    {{ form.new_password1 }}
                    <label for="{{ form.new_password1.id_for_label }}">New Password</label>
                </div>
                <div class="form-floating mb-3">
                    {{ form.new_password2.errors }}
                    {{ form.new_password2 }}
                    <label for="{{ form.new_password2.id_for_label }}">Confirm Password</label>
                </div>
                <button class="btn btn-dark col-md-3" type="submit">Reset</button>
                <hr class="my-4">
                <div class="text-center">
                    <span class="text-body-secondary">Back to <a href="{% url 'home' %}">Home</a></span>
                </div>
            </form>
        </div>
    </div>
</div>
{% else %}
<p class="text-center">The Password Reset Link was invalid. Possibly it has already been used. Please request a new password reset.</p>
{% endif %}

{% endblock %}
