{% extends "base.html" %}
{% block title %}Change password{% endblock %}
{% block content %}
<br>
<div class="container col-xl-10 px-4 py-3">
    <div class="col align-items-center g-lg-5" id="login">
        <div class="col-md-8 mx-auto col-lg-5">
            <form method="post" class="p-4 p-md-5 shadow border rounded-3 bg-body-tertiary">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <p class="fs-1 text-center">Change Password</p>
                <div class="form-floating mb-3">
                    {{ form.old_password }}
                    <label for="{{ form.old_password.id_for_label }}">Old Password</label>
                    {{ form.old_password.errors }}
                    <small>{{ form.new_password1.help_text }}</small>
                </div>
                <div class="form-floating mb-3">
                    {{ form.new_password1 }}
                    <label for="{{ form.new_password1.id_for_label }}">New Password</label>
                    {{ form.new_password1.errors }}
                    <small>{{ form.new_password1.help_text }}</small>
                </div>
                <div class="form-floating mb-3">
                    {{ form.new_password2 }}
                    <label for="{{ form.new_password2.id_for_label }}">Confirm Password</label>
                    {{ form.new_password2.errors }}
                    <small>{{ form.new_password2.help_text }}</small>
                </div>
                <button class="btn btn-dark col-md-3" type="submit">Change</button>
                <hr class="my-4">
                <div class="text-center">
                    <span class="text-body-secondary">Go <a href="{{ request.META.HTTP_REFERER }}">Back</a></span>
                    <p class="text-center">Forget Password <a href="{% url 'password_reset' %}">Here !!!</a></p>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}
